* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html {
  font-size: 62.5%;
}

.note-form {
  display: flex;
  flex-direction: column;
  background-color: rgb(10, 194, 236);
  padding: 2rem;
  gap: .5rem;
}

h1{
  text-align: center;
  font-size: 4rem;
}

.main-topic {
  font-size: 2rem;
  padding: .5rem;

}

textarea {
  resize: none;
  height: 15rem;
  padding: .5rem;
}

button {
  font-size: 2rem;
  font-weight: 200;
  padding: .5rem;
}